In [4]:
import yfinance as yf

In [23]:
ticker_data = yf.Ticker("VOO").history(period="6y")
ticker_data.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2018-05-18 00:00:00-04:00,225.156793,225.445544,224.579307,224.913162,1702800,0.0,0.0,0.0
2018-05-21 00:00:00-04:00,226.275595,227.096698,225.968794,226.564331,1262900,0.0,0.0,0.0
2018-05-22 00:00:00-04:00,227.087727,227.331358,225.671086,225.914703,1055400,0.0,0.0,0.0
2018-05-23 00:00:00-04:00,224.786769,226.618484,224.633376,226.618484,1484100,0.0,0.0,0.0
2018-05-24 00:00:00-04:00,226.248548,226.483147,224.461938,226.185379,2025300,0.0,0.0,0.0

In [24]:
ticker_data.tail(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-05-13 00:00:00-04:00,480.350006,480.420013,477.730011,478.769989,3108400,0.0,0.0,0.0
2024-05-14 00:00:00-04:00,478.980011,481.470001,478.480011,481.040009,3257700,0.0,0.0,0.0
2024-05-15 00:00:00-04:00,483.339996,487.230011,482.739990,486.899994,4399500,0.0,0.0,0.0
2024-05-16 00:00:00-04:00,487.049988,488.570007,485.829987,485.970001,3347400,0.0,0.0,0.0
2024-05-17 00:00:00-04:00,486.089996,486.730011,484.700012,486.690002,3263700,0.0,0.0,0.0

In [36]:
cumulative_return = abs(ticker_data.iloc[-1]["Open"] - ticker_data.iloc[0]["Open"]) / ticker_data.iloc[0]["Open"]
cumulative_return * 100

115.88955363166093

In [39]:
def cagr(start, end, time_period):
    return ((end / start) ** ((1/time_period))) - 1

In [40]:
end = ticker_data.iloc[-1]["Open"]
start = ticker_data.iloc[0]["Open"]

annualized_sp_return = cagr(start, end, 6) * 100
annualized_sp_return

13.685551098488036

In [42]:
end = 310000
start = 158000

cagr(start, end, 6) * 100

11.88815206730245